:root {
  --main-text: #ffffff;
  --border: #000000;
}

* {
  box-sizing: border-box;
}

/* Navbar links*/
.header {
  padding: 15px;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #049e11;
  color: var(--main-text);
  width: 100%;
  height: 11rem;
  margin-bottom: 50px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 2rem;
}

.nav-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 150px;
  max-width: 150px;
}

.nav-link a {
  margin: 10px;
  color: var(--main-text);
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: black;
}

/* About me */
.card-header {
  font-size: 20px;
  font-weight: 200;
}

.card {
  margin-bottom: 20px;
  margin-right: 20px;
  max-height: 50rem;
  border-radius: 20px;
  width: 45rem;
}

.link-icon {
  padding-left: 20px;
  margin-top: 20px;
  float: left;
}

.icon-style {
  height: 50px;
  margin-left: 20px;
  margin-top: 5px;
}

.icon-style:hover {
  background-color: rgb(65, 226, 78);
  padding: 5px;
}

.picture img {
  border-radius: 30px;
  background-color: black;
  margin-right: 30px;
  margin-bottom: 30px;
  max-height: 30rem;
}

/* Projects */
/* .title {
  text-align: center;
  margin-top: 500px;
  margin-bottom: 70px;
  font-size: 35px;
  color: var(--main-text);
}

.project-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  color: var(--main-text);
}

.project-one-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  border-style: solid;
  border-color: var(--main-text);
  background-image: url("../images/coding.jpg");
  margin: 100px;
  margin-top: 10px;
}

.project-one-container img {
  max-height: 48%;
  max-width: 60%;
  margin-left: 500px;
  padding-bottom: 20px;
}

/* contains the rest of the projects 2-6 */
/* .project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.project-card {
  border-style: solid;
  width: 300px;
  margin: 15px;
  border-color: var(--main-text);
  background-image: url("../images/coding.jpg");
} */
/* placeholder images are temporary till projects are complete */
/* .project-card img {
  width: 265px;
  height: 250px;
  padding-bottom: 20px;
} */

/* depending on device viewpoint */
@media screen and (max-width: 992px) {
  .row {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    margin-top: 10px;
  }
} ;
