:root {
  --main-text: #ffffff;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #004b23;
  color: var(--main-text);
  width: 100%;
  margin-bottom: 20px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* this targets the a tags withing the nav link */
.nav-link a {
  margin: 10px;
  color: var(--main-text);
}

.container {
  margin: 20px;
}

.content img {
  display: block;
  height: 150px;
  width: 110px;
  border-radius: 10px;
}

.about-me {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30%;
}
.contacts {
  font-size: 15px;
}
